table {
  border-collapse: collapse;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}

td, th {
  border: 1px solid #000;
  height: 80px;
  width: 80px;
}

td#freespace {
  background-color: #ddd;
}

thead {
  color: #fff;
  background-color: #000;
  font-size: 2em;
}
