body {
  font-family: Helvetica, Arial, sans-serif;
}

table {
  border-collapse: collapse;
  text-align: center;
  margin: 5px auto 50px auto;
}

td, th {
  border: 1px solid #000;
  height: 80px;
  width: 80px;
}

td#freespace {
  background-color: #ddd;
}

thead {
  color: #fff;
  background-color: #000;
  font-size: 2em;
}

img.emoji {
  height: 15px;
  width: 15px;
}

footer {
  text-align: center;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
