body {
  font-family: Helvetica, Arial, sans-serif;
}

table {
  border-collapse: collapse;
  text-align: center;
  margin: 5px auto 20px auto;
}

td, th {
  border: 1px solid #000;
  height: 80px;
  width: 80px;
  position: relative;
}

td#freespace {
  background-color: #ddd;
}

thead {
  color: #fff;
  background-color: #000;
  font-size: 2em;
}

td.checked::after {
  content: ' ';
  background-color: blue;
  color: blue;
  height: 75px;
  width: 75px;
  border-radius: 45px;
  display: block;
  position: absolute;
  opacity: .25;
  top: 2;
  right: 2;
}

td.not(.checked)::after {
  display: none;
}

p.controls {
  text-align: center;
  padding: 20px;
}

button.reset {
  color: #fff;
  background-color: #d9534f;
  border: 1px solid #d43f3a;
  border-radius: 4px;
  padding: 6px 12px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}

button.reset:hover, button.reset:active {
  background-color: #c9302c;
  border-color: #ac2925;
}

button.reset:focus {
  outline: 0;
}

img.emoji {
  height: 15px;
  width: 15px;
}

footer {
  margin: 20px;
  text-align: center;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
